

  <h1>{{title}}</h1>
  <img src="{{photo}}" alt="" />
  <p>Welcome {{user.displayName}}</p>
  <br>
  <ul>
    <li><a href="/dogs">Show me the doggies</a></li>
    <li><a href="/dogs/new">Add a doger</a></li>
  </ul>
  <br>
  <a href="/logout">Logout</a>
