

  <h1>{{title}}</h1>
  <p>Welcome, please login</p>
  <br>
  <a href="/auth/google">Login with Google</a>
  <br>
  <a href="/auth/facebook">Login with Facebook</a>
  <br>
  <a href="/auth/login">Login with Username/Password</a>
  <br>
  <a href="/auth/signup">Local signup</a>
