

  <h1>{{title}}</h1>
  <h3>{{tagLine}}</h3>
  <br>
  <form class="" action="/dogs/new" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" placeholder="{{placeHolderName}}" id="newDogName">
    <label for="breed">Breed: </label>
    <input type="text" name="breed" placeholder="{{placeHolderBreed}}" id="newDogBreed">
    <button type="submit" name="submitDogger">Add Dogger</button>
  </form>
  <p><a href="/dogs">Back to Doggies</a></p>
  <br>
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
